.menu-categories
  position: absolute
  left: 0
  height: 100vh
  width: 100%
  @include gridTemplate(repeat(10, 1fr), repeat(10, 1fr), 0)

@import "designing-new-facilities/index"
@import "inspection-of-buildings-and-structures/index"
@import "reinforcement-overhaul-and-reconstruction/index"