.collection-object
    background-color: #363f42

    &__items
        display: flex
        flex-wrap: wrap
        position: relative
        margin: -16px

    &__item
        -webkit-box-flex: 1
        flex: 0 1 calc(33.33% - 32px)
        margin: 16px 16px 0
        box-sizing: border-box
        text-align: center
        background: #b5ced8
        min-width: 170px
        padding: 50px 20px
