.header
    z-index: 9999
    position: absolute
    width: 100%
    padding: 40px 0 0

    @include media(mobileScreenWidth)
        padding: 10px 0 0

    &__section
        display: flex
        align-items: center

        @include media(mobileScreenWidth)
            display: block

    &__site-map
        flex-grow: 1

    &__logo
        width: 210px

        @include media(mobileScreenWidth)
            margin: 0 auto

@import "menu/menu"
@import "logo/logo"
@import "nav/nav"
@import "button/button"
