.header
  z-index: 1
  position: relative

  &__section
    @include gridTemplate(1fr, repeat(4, 1fr), 0)
    padding: 40px 0 0
    position: absolute
    width: 100%

    @include media(tableScreenWidth)
      @include gridTemplate(1fr auto, 1fr 1fr, 10px)

    @include media(mobileScreenWidth)
      @include gridTemplate(1fr auto, 1fr auto, 10px)

@import "menu/menu"
@import "logo/logo"
@import "nav/nav"
@import "button/button"