.contacts
    height: 100vh
    overflow: hidden

    &__wrap
        padding: 180px 0 0

        @include media(mobileScreenWidth)
            padding: 90px 0 0

    &__background
        background-image: url("/images/background-contacts.jpg")
        height: 100%
        width: 100%
        position: absolute
        left: 0
        top: 0
        background-size: cover
        background-position: center

        &:after
            content: ''
            background-color: black
            height: 100%
            width: 100%
            position: absolute
            left: 0
            top: 0
            opacity: 0.7

    &__director
        position: relative
    &__engineer
        position: relative
    &__address
        position: relative
    &__email
        position: relative

    &__description
        color: #9b9fa1
        line-height: 22px
