@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "~@fortawesome/fontawesome-free/scss/brands.scss"
@import "~@fortawesome/fontawesome-free/scss/regular.scss"
@import "~@fortawesome/fontawesome-free/scss/solid.scss"
@import "~@fortawesome/fontawesome-free/scss/_icons.scss"

*,
::after,
::before
  box-sizing: border-box

body
  margin: 0
  overflow-x: hidden
  background-color: map-get($colors, "black")
  color: map-get($colors, "white")