.menu

    &--default-color
        & .link--default
            color: map_get($colors, "white")

        svg
            fill: map_get($colors, "white")
            fill-rule: nonzero

    &--black
        & .link--default
            color: map_get($colors, "black")

        svg
            fill: map_get($colors, "black")
            fill-rule: nonzero

    &--mix
        svg
            fill: map_get($colors, "black")
            fill-rule: nonzero

        & .link--default
            color: map_get($colors, 'white')

            @media #{$table}
                color: map_get($colors, 'black')
