.menu

    &--default-color
        color: map_get($colors, "white")

    &--black
        color: map_get($colors, "black")

    &--mix
        & .nav__item
            & .link--default
                color: map_get($colors, 'white')
